<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minister</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-green-400 to-blue-500 my-3">
    <center class="space-y-4">
        <h1 class="mb-4 text-3xl font-bold">
            List of All Schools
        </h1>
        <a class="bg-pink-300 p-1 rounded-md font-bold hover:bg-green-300" href="{% url 'main_page' %}">Go To Home
            Page</a>
        <table class="table-auto w-full text-left">
            <thread>
                <tr>
                    <th class="text-center">Affiliation No.</th>
                    <th class="text-center">School Name</th>
                    <th class="text-center">Region</th>
                    <th class="text-center">Board</th>
                    <th class="text-center">Pincode</th>
                </tr>
            </thread>
            {% for result in school %}
            <tr>
                <td class="text-center">{{result.affiliation_no}}</td>
                <td class="text-center">{{result.school_name}}</td>
                <td class="text-center">{{result.region}}</td>
                <td class="text-center">{{result.board}}</td>
                <td class="text-center">{{result.pincode}}</td>
                <!-- <td><a href="#" class="bg-blue-500 rounded-md text-sm px-2 text-white hover:bg-blue-600">Edit</a></td> -->
                <!-- <td><a href="#" class="bg-red-500 rounded-md text-sm px-2 text-white hover:bg-red-600">Delete</a></td> -->
            </tr>
            {% endfor %}
        </table>
    </center>
</body>

</html>